.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1f20;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo {
    font-size: 18px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}
.navbar-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.navbar-button a {
    color: inherit;
}

.navbar-button a:visited {
    color: inherit;
}

.navbar-button:hover {
    background-color: #444;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navbar-button::after, .navbar-button::before {
    content: '';
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    /*background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545);*/
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 1px;
    animation: 3s spin linear infinite;
}

.navbar-button::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
