:root {
    background-color: #212121;
}

body {
    color: white;
}

*,
*::after,
*::before {
    box-sizing: border-box,
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}


.wrapper {
    max-width: 200px;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

